/* === global.css === */
/* Estilos base modo oscuro moderno */

:root {
  --bg-color: #121212;
  --card-color: #1e1e1e;
  --text-color: #f5f5f5;
  --accent-color: #4fc3f7;
  --error-color: #ef5350;
  --font-main: 'Segoe UI', Roboto, sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:white;
  color: var(--text-color);
  font-family: var(--font-main);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

input {
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);  
}
/*header - imagen koaj*/
h1 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}
.logo-header {
  background-color: black;
  color: black;
  padding: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}



.card {
  display: flex;
  flex-direction: column; /* importante: columnas (arriba -> abajo) */
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  padding: 16px;
  margin-top: 20px;
  gap: 16px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  max-width: 700px; 
}

/* Contenedor superior: imagen + datos */
.card-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex: 1; /* Ocupa el resto del espacio */
}
.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #929292;
  padding: 8px 12px;
  border-radius: 6px;
}



.title-card {
  color: white;
  background-color: var(--bg-color);
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 8px;
}
.description-card {
  display: inline-block;
  color: black;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: normal;
}

.product-image {
  width: 50%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 16px;
}

/* === Precio separado abajo === */
.card-footer {
  margin-top: 16px;
  background: black;
  color: white;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.price-label {
  font-weight: bold;
  font-size: 16px;
}

.price-value {
  font-size: 20px;
  font-weight: 800;
}


@media (max-width: 600px) {
  body {
    padding: 10px;
  }
}

